# Скомпилированные бинарники
*.exe
*.out
*.o
*.obj

# Директории сборки (появятся, когда подключишь CMake)
build/
cmake-build-*/

# IDE-специфичные файлы
.vscode/
*.suo
*.user

# Отладочные файлы
*.pdb
*.ilk

# Временные файлы ОС
.DS_Store
Thumbs.db